@import './media.scss';
$space: 20px;

.ValidationField {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.flex_row {
    flex-direction: row !important;
    gap: 10px;
    align-items: baseline;
  }
  .ValidationFieldLabel {
    margin-bottom: 10px;
  }
}

//// FileField  button width
.ValidationField .ant-upload-wrapper .ant-upload-select {
  width: 100%;
}

.TowValidationField {
  gap: 20px;
  display: flex;
}

.ValidationFieldRow {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
}
